.header {
  background-image: url(../multimedia/header/vsharkcab.png);
  background-size: cover;
  height: 10vw;
  display: flex;
  justify-content: right; }
  .header h3 {
    font-size: 2vw; }
  .header p {
    color: black;
    text-align: right; }

nav {
  display: flex;
  justify-content: center; }
  nav li:hover {
    transform: scale(0.7, 0.7); }
    nav li:hover a {
      color: white; }
  nav li {
    margin-inline: 2vw;
    display: inline-flex;
    position: relative;
    list-style-type: none; }
    nav li a {
      font-size: 3vw;
      /* VISTA MOVIL  */
      text-decoration: none; }
      @media only screen and (max-width: 768px) {
        nav li a {
          font-size: 4vw !important;
          margin-left: -2vw; } }
  nav ul ul {
    display: none;
    position: absolute; }
  nav ul li:hover ul {
    display: flex;
    padding-top: 80%;
    align-items: center;
    margin-left: -10vw !important; }
    nav ul li:hover ul a {
      display: flex; }

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw !important;
  color: white;
  padding: 5%;
  /* VISTA MOVIL  */ }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 6vw !important;
      text-align: center; } }

.div__carousel {
  display: flex;
  justify-content: center;
  align-items: center; }
  .div__carousel .d-block {
    border-radius: 15%;
    width: 50vw !important;
    height: 40vw !important;
    /* VISTA MOVIL  */ }
    @media only screen and (max-width: 768px) {
      .div__carousel .d-block {
        width: 85vw !important;
        height: 70vw !important;
        margin-top: 15vw; } }

.container__galeria .col {
  display: flex;
  justify-content: center; }
  .container__galeria .col .imagen__galeria {
    border-radius: 20%;
    width: 25vw;
    height: 25vw;
    /* VISTA MOVIL  */ }
    @media only screen and (max-width: 768px) {
      .container__galeria .col .imagen__galeria {
        width: 45vw;
        height: 45vw;
        margin-bottom: 4vw; } }

.row {
  padding: 2%; }

.imagen__galeria:hover {
  transform: scale(1.3, 1.3); }

.informacionGeneral {
  padding: 1%;
  font-size: 1vw;
  color: white; }
  .informacionGeneral h2 {
    font-size: 3vw;
    /* VISTA MOVIL  */ }
    @media only screen and (max-width: 768px) {
      .informacionGeneral h2 {
        font-size: 4vw !important; } }

@keyframes slidein {
  from {
    margin-left: 90%;
    width: 90%; }
  to {
    margin-left: 10%;
    width: 90%; } }

.div__titulo {
  display: flex;
  justify-content: center; }

.col-md {
  display: flex;
  justify-items: center;
  align-items: center; }
  .col-md .d-block {
    border-radius: 20%;
    width: 30vw !important;
    height: 20vw !important;
    /* VISTA MOVIL  */ }
    @media only screen and (max-width: 768px) {
      .col-md .d-block {
        width: 40vw !important;
        height: 40vw !important; } }

p {
  color: white;
  font-size: 2vw;
  /* VISTA MOVIL  */ }
  @media only screen and (max-width: 768px) {
    p {
      font-size: 4vw !important; } }

#cuenta {
  display: flex;
  justify-content: center;
  align-items: center; }

/* modal crear usuario */
.abrirModal {
  display: flex;
  justify-items: center; }

.modal-container {
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center; }

#modal {
  width: 600px;
  background-color: #464343;
  border-radius: 15px; }

.modal-active {
  visibility: visible;
  opacity: 1; }

#reserva {
  display: flex;
  justify-content: center; }

input {
  width: 350px;
  height: 50px;
  margin-bottom: 50px !important; }

select {
  font-size: 1vw !important; }

#colComentario {
  margin-left: 50px !important; }
  #colComentario textarea {
    width: 350px !important;
    height: 250px !important; }
  #colComentario button {
    width: 150px;
    height: 70px;
    margin-top: 50px !important;
    font-size: 2vw !important; }
  #colComentario .confirmacion {
    font-size: 1vw; }

/* VISTA MOVIL  */
.elemento_animado {
  animation-duration: 0.60s;
  transition-timing-function: ease-in;
  animation-fill-mode: both; }

.transicion--fadein {
  animation-name: fadeIn; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  background-color: black !important; }
  body a {
    color: white !important; }

.div__redessociales {
  display: scroll;
  position: fixed;
  bottom: 15vw;
  right: 1vw;
  /* VISTA MOVIL  */ }
  @media only screen and (max-width: 768px) {
    .div__redessociales {
      bottom: 25vw;
      right: 5vw; } }

.logoRedes {
  width: 5vw; }

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  /* VISTA MOVIL  */ }
  .formulario .input {
    display: flex;
    justify-content: center; }
  @media only screen and (max-width: 768px) {
    .formulario {
      font-size: 3vw;
      margin-left: 2vw; } }

.div__footer {
  background-color: #444343;
  font-size: 2vw;
  margin-top: 2vw;
  /* VISTA MOVIL  */ }
  @media only screen and (max-width: 768px) {
    .div__footer {
      position: fixed;
      left: 0vw;
      bottom: 0vw;
      width: 100%; } }
  .div__footer p {
    margin-left: 1vw !important; }
