$primary-fontsize: 2vw;

.header {
    background-image: url(../multimedia/header/vsharkcab.png);
    background-size: cover;
    height: 10vw;
    display: flex;
    justify-content: right;

    h3 {
        font-size: $primary-fontsize;
    }

    p {
        color: black;
        text-align: right;
    }
    
}