$primary-fontsize: 2vw;

.header {
    background-image: url(../multimedia/header/vsharkcab.png);
    background-size: cover;
    height: 10vw;

    h3 {
        font-size: $primary-fontsize;
        float: right;
    }
}