$primary-color: white;
$primary-fontsize: 2vw;

.div__titulo {
    display: flex;
    justify-content: center;

}

.col-md {
    display: flex;
    justify-items: center;
    align-items: center;

    .d-block {
        border-radius: 30%;
        width: 30vw !important;
        height: 20vw;
    }
}

p {
    color: $primary-color;
    font-size: $primary-fontsize;
}