@import "header";
@import "nav";
@import "index";
@import "galeria";
@import "estudio";
@import "salas";
@import "error404";



$primary-color: white;
$primary-fontsize: 2vw;

/* VISTA MOVIL  */
@media only screen and (max-width:768px) {
    $primary-fontsize: 4vw !important;
}


.elemento_animado {
    animation-duration: 0.60s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.transicion--fadein {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



@mixin posicion ($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}


body {
    background-color: black !important;

    a {
        color: $primary-color !important;
    }
}

.div__redessociales {
    display: scroll;
    position: fixed;
    bottom: 15vw;
    right: 1vw;

    /* VISTA MOVIL  */
    @media only screen and (max-width:768px) {
        bottom: 25vw;
    }

}

@each $logoredes in logoRedes {
    .#{$logoredes} {
        width: 5vw;
    }

}


.formulario {
    @include posicion(flex, center, center);
    font-size: 1.5vw;

    .input {
        display: flex;
        justify-content: center;
    }

    /* VISTA MOVIL  */
    @media only screen and (max-width:768px) {
        font-size: 3vw;
        margin-left: 2vw;
    }

}


.div__footer {
    background-color: rgb(68, 67, 67);
    font-size: $primary-fontsize;
    margin-top: 2vw;


    /* VISTA MOVIL  */
    @media only screen and (max-width:768px) {
        position: fixed;
        left: 0vw;
        bottom: 0%;
        width: 100%;
    }


    p {
        margin-left: 1vw !important;
    }

}